/*
colors
blue: #0040ca;
purple: #6e2e91;
red: #e5081a;
*/

header {
    width: 100%;
    height: auto;
}

.container {
	width: 1200px;
}

#top_section {
    width: 100%;
    height: auto;
    border-bottom: solid 1px #ddd
}

.top_nav {
	width: 100%;
	min-height: 50px;
	padding: 15px 0;
}

.top_nav ul {
	width: 100%;
	display: block;
	text-align: right;
}

.top_nav ul li {
	display: inline-block;
	width: auto;
}

.top_nav ul li a {
	display: block;
	height: 20px;
	line-height: 20px;
	padding: 0 12px;
	font-size: 1.3rem;
	border-left: solid 1px #ccc;
}

.top_nav ul li:first-of-type a {
	border: none;
}

.top_nav ul li.login a {
	width: auto;
	display: inline-block;
	padding: 0 10px;
	height: 20px;
	line-height: 18px;
	border: solid 1px #ccc;
	-webkit-border-radius: 2px;
	background-color: #eee;
}


#main_section {
	width: 100%;
	height: auto;
	padding: 10px 0;
}

.flex-container {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	flex-basis: 80px;
}

.search {
	flex-basis: 50%;
	height: 50px;
	border: solid 1px #ccc;
}

.extras {
	text-align: right;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.cart, .likes  {
	width: auto;
	height: 40px;
	line-height: 40px;
	display: inline-block;
	color: #333;
	padding: 0 15px;
	font-size: 1.3rem;
	border-radius: 5px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.cart:hover, .likes:hover {
	background-color: #eee;
}

.cart .lnr, .likes .lnr {
	font-size: 25px;
	height: 40px;
	line-height: 40px;
	margin-right: 5px;
}

.cart {
	position: relative;
}

.likes {

}

#main_nav {
	width: 100%;
	height: auto;
	padding: 0;
	background-color: #6e2e91;
}

nav {
	min-height: 50px;
}

nav ul {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav ul li {
	width: auto;
	height: auto;
	display: relative;
}

nav ul li a {
	color: #fff;
	height: 50px;
	line-height: 50px;
	font-size: 1.4rem;
}

nav ul li a:hover {
	color: #fff;
}

nav ul li .dropdown_wrap {
	width: 100%;
	position: absolute;
	min-height: 90vh;
	left: 0;
	background-color: rgba(0,0,0,0.4);
	display: none;
	z-index: 1000;
}

nav ul li:hover .dropdown-wrap {

}

.dropdown_ins {
	background-color: #f3f3f3;
	padding: 20px;
}



main {
	background-color: #f6f6f6;
	width: 100%;
	height: auto;
}

.banner_area {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	padding: 20px 0;
}

.main_banner {
	flex-basis: 75%;
	border: solid 1px #ddd;
	padding-bottom: 33%;
	position: relative;
	overflow: hidden;
}

.banner_ins {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #fff;
}

.side_banner {
	flex-basis: calc(25% - 20px);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;
}

.side_banner_itm {
	flex-basis: calc(33% - 10px);
	border: solid 1px #ddd;
	background-color: #fff;
}

.deals {
	width: 100%;
	height: 200px;
	background-color: #fff;
	margin: 0 0 20px;
}

.index_category_wrap {
	width: 100%;
	min-height: 350px;
	background-color: #fff;
}

.index_category_wrap ul {
	width: 100%;
}


.index_category_wrap > ul > li.index_cat {
	width: 100%;
	min-height: 350px;
	margin-bottom: 30px;
	border-top: solid 2px #333;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
}

.cat_nav {
	flex-basis: 18%;
	border-right: solid 1px #ccc;
}

.nav_title {
	width: 100%;
	padding: 15px;
	background-color: #666;
	height: 50px;
	color: #fff;
	font-size: 1.5rem;
	line-height: 20px;
}

.nav_content {}

.cat_main_banner {
	flex-basis: 22%;
	border-right: solid 1px #ccc;
}

.cat_showcase {
	flex-basis: 60%;
}


